# Gradle build directories
/build/
/out/
/.gradle/

# IntelliJ IDEA files
/.idea/
/*.iml

# Compiled Java classes
*.class

# Temporary files
/tmp/

# System files
.DS_Store
Thumbs.db

# Binary files
*.bin

# Log files
*.log